name: Release
on:
  release:
    types: [published]
  workflow_dispatch:

permissions:
  # See https://docs.npmjs.com/trusted-publishers
  id-token: write
  contents: read
  packages: write

jobs:
  publish-npm:
    name: Publish on NPM
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Set up Node.js for Yarn
        uses: actions/setup-node@v6
        with:
          registry-url: "https://registry.npmjs.org"

      - name: Install Yarn
        run: npm install -g yarn

      - run: yarn install --frozen-lockfile
      - run: yarn publish

  publish-gpr:
    name: Publish on GPR
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Set up Node.js for Yarn
        uses: actions/setup-node@v6
        with:
          registry-url: "https://npm.pkg.github.com/"

      - name: Install Yarn
        run: npm install -g yarn

      - run: yarn install --frozen-lockfile
      - run: yarn publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
